@media (max-width: 1140px) {

    .l-hero__nav-item + .l-hero__nav-item {
        margin-left: 1rem;
    }

    .l-hero__title {
        font-size: 2.8rem;
    }

    .l-hero__text {
        font-size: 2.3rem;
    }

}

@media (max-width: 960px) {

    .u-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    
    .l-hero__navbar {
        width: 100%;
        min-height: 100vh;
        height: 100%;
        position: fixed;
        top: -100%;
        left: 0;
        right: 0;
        background-color: var(--darker-color);
        background-blend-mode: multiply;
        z-index: 10;
    }

    .l-hero__navbar.is-active {
        top: 0;
    }

    .l-hero__nav-item:last-child {
        display: none;
    }

    .l-hero__navbar {
        flex-direction: column;
        align-items: center;
    }

    .l-hero__nav-item + .l-hero__nav-item {
        margin-left: 0rem;
    }

    .l-hero__nav-item:not(:nth-child(6)) {
        margin-bottom: 3rem;
    }

    .l-hero__nav-link {
        font-size: 3rem;
    }

    .l-hero__burger-button {
        display: flex;
    }

    .l-hero__logo {
        grid-column: 2 / span 2;
        grid-row-start: 1;
    }

    .l-hero__logo img {
        width: 100%;
    }

    .l-hero__info {
        grid-column: 2 / span 2;
        grid-row-start: 2;
        text-align: center;
    }

}