@media (max-width: 1140px) {

    .l-hero__nav-item + .l-hero__nav-item {
        margin-left: 1rem;
    }

    .l-hero__title {
        font-size: 2.8rem;
    }

    .l-hero__text {
        font-size: 2.3rem;
    }

}

@media (max-width: 960px) {

    .u-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    
    .l-hero__navbar {
        width: 100%;
        min-height: 100vh;
        height: 100%;
        position: fixed;
        top: -100%;
        left: 0;
        right: 0;
        background-color: var(--darker-color);
        background-blend-mode: multiply;
        z-index: 200;
    }

    .l-hero__navbar.is-active {
        top: 0;
    }

    .l-hero__nav-item:last-child {
        display: none;
    }

    .l-hero__navbar {
        flex-direction: column;
        align-items: center;
    }

    .l-hero__nav-item + .l-hero__nav-item {
        margin-left: 0rem;
    }

    .l-hero__nav-item:not(:nth-child(6)) {
        margin-bottom: 3rem;
    }

    .l-hero__nav-link {
        font-size: 3rem;
    }

    .l-hero__burger-button {
        display: flex;
    }

    .l-hero__logo {
        grid-column: 2 / span 2;
        grid-row-start: 1;
    }

    .l-hero__logo img {
        width: 100%;
    }

    .l-hero__info {
        grid-column: 2 / span 2;
        grid-row-start: 2;
        text-align: center;
    }

    .l-about__slide-container {
        min-height: 550px;
    }

    .l-about__slide-img {
        grid-row-start: 1;
        grid-column: 1 / span 4;
    }

    .l-about__slide-info {
        grid-row-start: 2;
        grid-column: 1 / span 4;
        padding: 3rem 5rem;
    }

    .l-about__slide-title {
        margin-bottom: 1.5rem;
        margin-top: -3rem;
    }

    .l-services__item {
        grid-column: span 1;
    }

}

@media (max-width: 820px) {

    .l-services__item {
        grid-column: span 2;
    }

    .l-gallery__image-gallery {
        gap: 1.5rem;
    }
}

@media (max-width: 700px) {

    .u-grid {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .l-hero__logo, .l-hero__info {
        grid-column: span 2;
        max-width: 370px;
    }

    .l-about__slide-container {
        min-height: 500px;
    }

    .l-gallery__image-gallery {
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-width: 450px) {

    :root {
        font-size: 50%;
    }

    .l-about__slide-info {
        padding: 0 1.5rem 3rem;
    }

    .l-about__slide-container {
        min-height: 650px;
    }

}